<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
<servlet>

         	<servlet-name>firstservlet</servlet-name>
         	<servlet-class>com.servlet.firstservlet</servlet-class>
         </servlet>
         <servlet-mapping>
         	<servlet-name>firstservlet</servlet-name>
         	<url-pattern>/web</url-pattern>
         </servlet-mapping>
         <servlet>
         	<servlet-name>second</servlet-name>
         	<servlet-class>com.servlet.Secondservlet</servlet-class>
         </servlet>
         <servlet-mapping>
         	<servlet-name>second</servlet-name>
         	<url-pattern>/second</url-pattern>      
         </servlet-mapping>
         
         <servlet>
         	<servlet-name>Myservlet</servlet-name>
         	<servlet-class>com.servlet.Myservlet</servlet-class>
         </servlet>
         <servlet-mapping>
         	<servlet-name>Myservlet</servlet-name>
         	<url-pattern>/myservlet</url-pattern>
         </servlet-mapping>
         
         <servlet>
         	<servlet-name>Registersrvlet</servlet-name>
         	<servlet-class>com.servlet.Registersrvlet</servlet-class>
         </servlet>
         <servlet-mapping>
         	<servlet-name>Registersrvlet</servlet-name>
         	<url-pattern>/Registersrvlet</url-pattern>
         </servlet-mapping>
         <servlet>
         	<servlet-name>success</servlet-name>
         	<servlet-class>com.servlet.success</servlet-class>
         </servlet>
         <servlet-mapping>
         	<servlet-name>success</servlet-name>
         	<url-pattern>/success</url-pattern>
         </servlet-mapping>
         <servlet>
         <servlet-name>s1</servlet-name>
         	<servlet-class>com.parameter.s1</servlet-class>
         </servlet>
         <servlet-mapping>
         	<servlet-name>s1</servlet-name>
         	<url-pattern>/s1</url-pattern>
         </servlet-mapping>
          <servlet>
         <servlet-name>s2</servlet-name>
         	<servlet-class>com.parameter.s2</servlet-class>
         </servlet>
         <servlet-mapping>
         	<servlet-name>s2</servlet-name>
         	<url-pattern>/s2</url-pattern>
         </servlet-mapping>
         <servlet>
         <servlet-name>servlet1</servlet-name>
         	<servlet-class>com.parameter.Servlet1</servlet-class>
         </servlet>
         <servlet-mapping>
         	<servlet-name>servlet1</servlet-name>
         	<url-pattern>/servlet1</url-pattern>
         </servlet-mapping>
          <servlet>
         <servlet-name>servlet2</servlet-name>
         	<servlet-class>com.parameter.servlet2</servlet-class>
         </servlet>
         <servlet-mapping>
         	<servlet-name>servlet2</servlet-name>
         	<url-pattern>/servlet2</url-pattern>
         </servlet-mapping>
         <servlet>
         	<servlet-name>ser1</servlet-name>
         	<servlet-class>com.session.ser1</servlet-class>
         </servlet>
         <servlet-mapping>
         	<servlet-name>ser1</servlet-name>
         	<url-pattern>/ser1</url-pattern>
         </servlet-mapping>
         <servlet>
         	<servlet-name>ser</servlet-name>
         	<servlet-class>com.session.ser</servlet-class>
         </servlet>
         <servlet-mapping>
         	<servlet-name>ser</servlet-name>
         	<url-pattern>/ser</url-pattern>
         </servlet-mapping>
</web-app>